Posts/2010/03/gen-xsd/Cassandra.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<!-- Yo yo yo, this XSD woz be generated by Thrift. -->

<xsd:complexType name="Column">
  <xsd:sequence>
    <xsd:element name="name" type="xsd:string" />
    <xsd:element name="value" type="xsd:string" />
    <xsd:element name="timestamp" type="xsd:long" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="SuperColumn">
  <xsd:sequence>
    <xsd:element name="name" type="xsd:string" />
    <xsd:element name="columns">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="Column" type="Column" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="ColumnOrSuperColumn">
  <xsd:sequence>
    <xsd:element name="column" type="Column" />
    <xsd:element name="super_column" type="SuperColumn" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="NotFoundException">
  <xsd:sequence>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="InvalidRequestException">
  <xsd:sequence>
    <xsd:element name="why" type="xsd:string" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="UnavailableException">
  <xsd:sequence>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="TimedOutException">
  <xsd:sequence>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="ColumnParent">
  <xsd:sequence>
    <xsd:element name="column_family" type="xsd:string" />
    <xsd:element name="super_column" type="xsd:string" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="ColumnPath">
  <xsd:sequence>
    <xsd:element name="column_family" type="xsd:string" />
    <xsd:element name="super_column" type="xsd:string" />
    <xsd:element name="column" type="xsd:string" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="SliceRange">
  <xsd:sequence>
    <xsd:element name="start" type="xsd:string" />
    <xsd:element name="finish" type="xsd:string" />
    <xsd:element name="reversed" type="xsd:boolean" />
    <xsd:element name="count" type="xsd:int" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="SlicePredicate">
  <xsd:sequence>
    <xsd:element name="column_names">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="column_names_elt" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="slice_range" type="SliceRange" />
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="KeySlice">
  <xsd:sequence>
    <xsd:element name="key" type="xsd:string" />
    <xsd:element name="columns">
      <xsd:complexType>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="ColumnOrSuperColumn" type="ColumnOrSuperColumn" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="list" type="xsd:boolean" />
      </xsd:complexType>
    </xsd:element>
  </xsd:sequence>
</xsd:complexType>

<xsd:element name="get_response" type="ColumnOrSuperColumn" />

<xsd:element name="get_slice_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="ColumnOrSuperColumn" type="ColumnOrSuperColumn" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="multiget_response" type="container" />

<xsd:element name="multiget_slice_response" type="container" />

<xsd:element name="get_count_response" type="xsd:int" />

<xsd:element name="get_key_range_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="get_key_range_response_elt" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="get_range_slice_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="KeySlice" type="KeySlice" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="insert_response">
  <xsd:complexType />
</xsd:element>

<xsd:element name="batch_insert_response">
  <xsd:complexType />
</xsd:element>

<xsd:element name="remove_response">
  <xsd:complexType />
</xsd:element>

<xsd:element name="get_string_property_response" type="xsd:string" />

<xsd:element name="get_string_list_property_response">
  <xsd:complexType>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="get_string_list_property_response_elt" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="list" type="xsd:boolean" />
  </xsd:complexType>
</xsd:element>

<xsd:element name="describe_keyspace_response" type="container" />

<xsd:element name="ire" type="InvalidRequestException" />
<xsd:element name="nfe" type="NotFoundException" />
<xsd:element name="te" type="TimedOutException" />
<xsd:element name="ue" type="UnavailableException" />

</xsd:schema>
